*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Dollar;
    src: url(Fonts/UnitedStates.ttf);
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Dollar;
    color: rgb(103, 204, 103);
}

main {
    height: 70vh;
    width: 80%;
    background: blueviolet;
    margin-top: 25px;
}

div.content{
    height: 60%;
    width: 100%;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.content-moedas{
    background: red;
    height: 150px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.options{
    height: 40%;
    width: 100%;
    background: rgb(165, 97, 97);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.Bandeira-País{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 2px solid black;
}

select{
    border-radius: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    border: 2px solid black;
}

div#input-valorDigitado{
    background: rgb(88, 0, 19);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

input#ValorDigitado{
    width: 80%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: none;

}

h2#Resultado{
    margin-top: 30px;
}

div.content-btn {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#botao{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background: none;
    border: 2px solid black;
    transition: 1s;

}

input#botao:hover{
    width: 250px;
    border-radius: 50px 0px 50px 0px;
    transform: scale(1.2);
}


div.content-cred{
    height: 30%;
    width: 100%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
}
div.content-credFilho{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
p{
    margin-top: 20px;
    margin-left: 5px;
}

div#Cred2{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

ul {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    list-style: none;
    background: white;
    width: 80%;
    height: 60%;
}

li{
    margin-right: 10px;
    background: red;
    padding: 5px;
}

img.social-midia{
    height: 30px;
    width: 30px;
}

img.FotoPerfil{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 2px solid black;

}