*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Dollar;
    src: url(Fonts/UnitedStates.ttf);
}

@font-face {
    font-family: Robot;
    src: url(Fonts/Robota-NonCommercial.otf);
}

html{
    /* Estratégia de responsividade. A cada 1rem será considerado 10px*/
    /*podemos usar o rem para facilitar a utilização do media-querie*/
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100%;
    background:rgb(94,110,113);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;  /*aplicando o rem na pagina*/
}

header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family: Dollar;
    color: rgb(27,30,30);
    border-bottom: 2px solid rgb(193,59,6);
    font-size: 3.2rem;
}

main {
    height: 70vh;
    width: 80%;
    background: rgb(27,30,30);
    margin-top: 0px;
    border-radius: 50px 0px 50px 0px;
}

div.content{
    height: 60%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

div.content-moedas{
    height: 150px;
    width: 400px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(94,110,113);
    border: 2px solid rgb(193,59,6);
    
}

div.options{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid black;
}

img.Bandeira-País{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 2px solid black;
}

select{
    border-radius: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 1.3rem;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.5) ;
    font-family: Robot;
}

div#input-valorDigitado{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

input#ValorDigitado{
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 20px;
    border: 2px solid black;
    font-family: Robot;
    background: rgba(255, 255, 255, 0.5);


}

h2#Resultado{
    margin-top: 3rem;
    font-family: Robot;
}

div.content-btn {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#botao{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background: none;
    border: 2px solid rgb(193,59,6);
    color: rgb(193,59,6);
    background: rgba(255, 255, 255, 0.1);
    transition: 1s;

}

input#botao:hover{
    width: 250px;
    border-radius: 50px 0px 50px 0px;
    background: rgb(193,59,6);
    color: whitesmoke;
    transform: scale(1.2);
    border: 2px solid black;
}


div.content-cred{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.content-credFilho{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
p{
    margin-top: 2rem;
    margin-left: 5px;
    font-family: Robot;
    color: whitesmoke;
    font-size: 1.0em;
}

a{
    text-decoration: none;
    color: rgb(193,59,6);
    
}


div#Cred2{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

ul {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    list-style: none;
    width: 80%;
    height: 60%;
    margin-right: 10px;
    margin-bottom: 2px;
}

li{
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 30px;
    transition: 1.2s;
}

li:hover{
    margin-bottom: 20px;
    transform: scale(1.2);
    background:rgb(193,59,6) ;
}

img.social-midia{
    height: 30px;
    width: 30px;
}

img.FotoPerfil{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 2px solid rgb(193,59,6);

}


h2#copyright{
    font-family: Robot;
    margin-top: 10px;
    opacity: 55%;
    font-size: 2.7rem;
}

@media (max-width: 894px){
    html{
        font-size: 50%;
    }

}

@media (max-width: 611px){
    html{
        font-size: 41%;
    }

    p{
        font-size: 1.9rem;
    }

    h2#Resultado{
        font-size: 2.8rem;
    }

    input#input-valorDigitado{
        font-size: 1.6rem ;
    }

    select{
        font-size: 1.6rem;
    }
}

@media (max-width:602px){
    main{
        height: 100vh;
    }
    div.content{
        display: flex;
        flex-direction: column; 
    }
    div.content-moedas{
        width: 60%;
        margin-top: 10px;
    }
    input#ValorDigitado{
        font-size: 1.8rem;
    }
    p{
        font-size: 2.0rem;
    }
    div#Cred2{
        width: 100px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        margin-bottom: 5px;
        opacity: 40%;
    }
    li:hover{
        margin-right: 30px;
        margin-bottom: 5px;
        opacity: 100%;
    }
}
@media (max-width: 366px){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
    div#Cred2{
        align-items: center;
    }
    ul{
        align-items: end;
        justify-content: end;
    }
    li{
        height: 25px;
        width: 25px;
        padding: 3px;
    }
    img.social-midia{
        height: 20px;
        width: 20px;
    }
}